.budget-page__top-right {
    text-align: center;
    margin: 15px;
}

.budget-page__top-right > .panel-body > div:first-child {
    margin-bottom: 15px;
}

.budget-page__change-month {
    margin-bottom: 20px;
}