@model MonthlyBudget.Models.ViewModels.CategoryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

        <h1>Create a Category</h1>
        @{
            if (Model.Error != null)
            {
                <p>@Model.Error</p>

            }


        }
        <form asp-action="Index" method="post">
            <table>
                <tr>
                    <td><label asp-for="Name"></label></td>
                    <td><input asp-for="Name" autocomplete="off" autofocus></td>
                    <td><span asp-validation-for="Name"></span></td>
                </tr>
            </table>
            <input type="submit" value="Create" />
            <div><a asp-area="" asp-controller="Budget" asp-action="Index">Back to Create a Budget</a></div>
            <h3>Existing Categories</h3>
            <table>
                @foreach (string cat in Model.UserCategories)
                {
                    <tr><td>@cat</td></tr>

                }
            </table>
        </form>
